{% extends 'layout/empty.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block content %}
    {% for error in flashbag('danger') %}
        <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> {{ error }}
        </div>
    {% endfor %}

    <div class="col-lg-4 col-sm-6 col-xs-12">
        {{ begin_form('signin_form', path('User:signin')) }}

            <fieldset>
                <legend>Sign in to <a href="{{ path('Default:index') }}">{{ _appname }}</a></legend>

                {{ form_field('email', 'Email address', 'email', {
                    'wrapper': {
                        'class': 'form-group'
                    },
                    'input': {
                        'class': 'form-control',
                        'placeholder': 'email@domain.com',
                        'autofocus': 'autofocus'
                    }
                }) }}

                {{ form_field('password', 'Password', 'password', {
                    'wrapper': {
                        'class': 'form-group'
                    },
                    'input': {
                        'class': 'form-control',
                        'placeholder': 'Password'
                    }
                }) }}

                {{ form_field('remember_me', 'Remember me', 'checkbox', {
                    'wrapper': {
                        'class': 'custom-control custom-checkbox'
                    },
                    'input': {
                        'value': 'true',
                        'class': 'custom-control-input',
                        'checked': 'checked'
                    },
                    'label': {
                        'class': 'custom-control-label'
                    }
                }) }}

                <p class="mb-0 mt-2">Don't have an account yet? Sign up <a href="{{ path('User:signup') }}">here!</a></p>
            </fieldset>

            {{ button('signin_button', 'Sign in', 'submit', {
                'class': 'btn btn-primary mt-3'
            }) }}

        {{ end_form() }}
    </div>
{% endblock %}