<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {#<meta name="keywords" content="">#}
        {#<meta name="description" content="">#}
        {#<meta name="author" content="">#}

        <title>{% block title %}{% endblock %} - {{ _appname }}</title>

        {#<link rel="icon" href="">#}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/nprogress.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block css %}{% endblock %}

        <!--[if lte IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="pjax-container">
            {% block layout %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="{{ asset('js/App.js') }}"></script>
        <script src="{{ asset('js/plugins/YjaxPlugin.js') }}"></script>
        <script src="{{ asset('js/app.instance.js') }}"></script>

        {# just pass routes to YjaxPlugin here instead of making synchronous call on remote #}
        {# remove it if yjax is unmounted #}
        <script>
            app.use('yjax').routes = {{ query_map()|json_encode|raw }};
        </script>

        {% block js %}{% endblock %}
    </body>
</html>